body{
  margin:0;
}


a{
  padding: 20px;
}

h1{
  line-height: 2;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  text-align: center;
}

h2{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  margin-left: 40px;
  margin-bottom: 0;
}

.first-section{
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 950;
}

.second-section{
  background-color: black;
  margin: 78px 0 100px;
}

.top-text{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 0;
}

.men-top{
  position: absolute;
  top: 30px;
  left: 50px;
}

.women-top{
  position: absolute;
  top: 30px;
  left: 130px;
}

.flybirds-top{
  font-family: 'Sail', cursive;
  color: black;
  text-decoration: none;
  font-size: 4rem;
  position: absolute;
  padding: 0 20px 0;
  right: 569px;
  top: 0;

}

.cart-top{
  position: absolute;
  right: 50px;
  top: 25px;
  width: 30px;
}

.cartNo{
  position: absolute;
  text-decoration: none;
  top: 30px;
  right: 35px;
}

.help-top{
  position: absolute;
  right: 105px;
  top: 25px;
  width: 30px;
}

.user-top{
  position: absolute;
  top: 25px;
  right: 160px;
  width: 30px;
}

.stores{
  position: absolute;
  top: 30px;
  right: 210px;
}

.top-hr{
  background-color: #9B9B9B;
  height: 1px;
  border-style: none;
  border-bottom: solid #EAEAEA;
  margin: 23px 0 0;
  z-index: 900;

}

.home-images{
  height:575px;
  width: 440px;
  margin-right: 10px;
}

.lastshoe{
  margin: 0;
}

.light-text{
  color: white;
  font-family: 'Russo One', sans-serif;
  position: absolute;
  top: 150px;
  font-size: 350%;
  left: 107px;
  font-weight: normal;
  background-color: #EAEAEA;
  background: rgba(76, 175, 80, 0.1);
}

.shop-btn{
  position: absolute;
  top: 450px;
  background: #ffffff;
  background:  -webkit-gradient(top, #ffffff, #f2f2f2);
  background:  -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  padding: 15px 50px 15px 50px;
  text-decoration: none;
  z-index: 900;

}

.shop-btn:hover {
  background: #002c47;
  background:  -webkit-gradient(top, #002c47, #00131f);
  background:  -o-linear-gradient(top, #002c47, #00131f);
  background-image: -webkit-linear-gradient(top, #002c47, #00131f);
  background-image: -moz-linear-gradient(top, #002c47, #00131f);
  background-image: -ms-linear-gradient(top, #002c47, #00131f);
  background-image: -o-linear-gradient(top, #002c47, #00131f);
  background-image: linear-gradient(to bottom, #002c47, #00131f);
  color: white;
  text-decoration: none;
}

.shop-men2{
  left: 400px;
  padding: 15px 70px 15px 70px;
}

.shop-women2{
  left: 700px;
}

.fav-img{
  width: 377.719px;
  height: 400px;
}

.fav-img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.fav{
  display: inline-block;
  width: 28%;
  margin: 20px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fav-hr{
  border-style: none;
  height: 2px;
  background-color: #ABABAB;
  width: 80%;
  margin: 5px auto 16px;
}

.footer{
  background-color: #1f1f1f;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
}

.foot{
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.fav-hvr{
  visibility: hidden;
}

.fav:hover .fav-hvr{
  visibility: visible;
}

.fav-btn{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Red Hat Display', sans-serif;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  bottom: 50px;
  margin-left: 40px;
  font-weight: 500;

}

.fav-btn:hover{
  background: #002b45;
  background-image: -webkit-linear-gradient(top, #002b45, #000e17);
  background-image: -moz-linear-gradient(top, #002b45, #000e17);
  background-image: -ms-linear-gradient(top, #002b45, #000e17);
  background-image: -o-linear-gradient(top, #002b45, #000e17);
  background-image: linear-gradient(to bottom, #002b45, #000e17);
  color: white;
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~ CART SECTION ~~~~~~~~~~~~~~~~~~ */

.text-sec{
  position: fixed;
  width: 50%;
  top:0;
}

.shop-text{
  font-family: 'Aclonica', sans-serif;
  font-size: 100px;
  font-weight: 500;
  text-align: left;
  margin: 0;
  margin-left: 60px;
  line-height: 125px;
}

.cart1{
  margin-top: 230px;
}

.vl1{
  display: inline-block;
}

.vl{
  height: 500px;
  width: 5px;
  background-color: black;
  position: absolute;
  top: 120px;
  margin-left: 100%;
}

#cart-hr{
  border-style: none;
  height: 4px;
  background-color: black;
  width: 30%;
  margin: 0;
  margin-left: 60px;
}

.products-container{
  width: 45%;
  margin-left: 55%;
  margin-top: 140px;
}

.cross{
  width: 3%;
  position: relative;
  bottom: 176px;
  left: 500px;
}

.prod-img{
  width: 150px;
  height: 170px;
}

.product, .price-div, .quantity-div, .cross-div {
  display: inline-block;
}

.minus, .plus{
  width: 10%;
  padding: 18px 27px 0;
}

.line{
  border-style: none;
  height: 2px;
  background-color: #D2D2D2;
  width: 525px;
  margin-bottom: 30px;
}

.item-name{
  padding-left: 40px;
  position: relative;
  bottom: 150px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 150%;
}

.price-div{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 150%;
  position: relative;
  bottom: 110px;
  right: 60px;
}

.quantity-div{
  border-style: solid;
  border-color: #D2D2D2;
  height: 50px;
  width: 170px;
  position: relative;
  right: 110px;
  bottom: 20px;
}

.quant{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 180%;
}

.total-div{
  margin-top: 30px;
  width: 525px;
}

.total-text{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 250%;
  display: inline-block;
}

.total-cost{
  position: relative;
  left: 300px;
  display: inline-block;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 260%;
}

.checkout{
  position: absolute;
  right: 120px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 200%;
  background: #2C2E38;
  padding: 10px 130px;
  text-decoration: none;
  margin-top: 20px;
}

.checkout:hover{
  background: #ffffff;
  text-decoration: none;
  color: #2C2E38;
  border-style: solid;
  border-width: 2px;
  border-color:  #2C2E38;
}

.margin{
  margin-bottom: 50px;
}

.white{
  height: 140px;
  width: 45%;
  text-align: right;
}
